/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #114b5f !important;
  font-family: museo-sans, sans-serif !important;
  font-style: normal;
  font-weight: 500;
}

/*form box */

.container {
  width: 49% !important;
  max-width: 75%;
  text-align: center;
  background-color: #456990;
  margin-left: 26%;
  margin-top: 5%;
}

/*form responses*/

input {
  width: 85%;
  padding: 1rem;
  background-color: #e4fde1;
  color: #e4fde1;
}

.response {
  color: #114b5f;
  text-transform: uppercase;
  letter-spacing: .7rem;
}

::-webkit-input-placeholder {
  color: #028090;
}
:-moz-placeholder { /* Firefox 18- */
  color: #028090;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #028090;
}
:-ms-input-placeholder {
  color: #028090;
}

p {
  padding-top: 1rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.name {
  padding-top: 3rem;
}

/*rating areas*/

.row {
  margin-left: 1.5rem !important;
  width: 90%;
  padding-top: 1rem;
}

.rating {
  padding-left: 3rem;
  text-align: center;

}

.rating input {
  width: 11%;
  float: right;
}

.rating p {
  color: #e4fde1;
  float: left;
  font-size: 1.1vw;
  padding: 0;
}

.label {
  padding-top: 1.45rem !important;
}

/*form button*/

.button {
  background-color: #f45b69;
  color: #e4fde1;
  margin-bottom: 1rem;
  margin-left: 2.4rem;
  text-decoration: none;
  width: 95% !important;
  text-transform: uppercase;
  letter-spacing: .7rem;
}
